.wrapper-form {
    background-color: #EFEEEE;
    align-items: center;
    padding:  0 13%;
    height: 91vh;
    display: flex;
    justify-content: center;
}

.form-va {
    background-color: #ffff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    gap: 20px;
}

.form-va h2 {
    margin-top: -20px;
}