.link-detail {
    text-decoration: none;
    color: #1976D2;
    text-align: center;
    width: 100%;
}

.text-id {
    text-align: center;
    width: 100%;
}

.text-brand {
    text-align: center;
    width: 100%;
}

.wrapper-home {
   height: 500px; 
}

@media (max-width:801px) {
    .wrapper-home {
        height: 550px;
    }
}